:host {
  display: block;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--os-spacing-4);
  background: var(--os-color-background-secondary);
}

.register-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--os-spacing-6);
  width: 100%;
  max-width: 100%;
}

.register-page__description {
  text-align: center;
  color: var(--os-color-text-secondary);
  font-size: var(--os-font-size-sm);
  line-height: 1.5;
  margin: 0;
  padding: 0 var(--os-spacing-2);
}

.register-page__time-info {
  text-align: center;
  color: var(--os-color-text-tertiary);
  font-size: var(--os-font-size-xs);
  margin: calc(var(--os-spacing-2) * -1) 0 0 0;
  padding: 0;
}

.register-page__google-button {
  width: 100%;

  ::ng-deep .os-button__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--os-spacing-3);
    width: 100%;
  }
}

.register-page__google-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.register-page__button-text {
  flex: 1;
  text-align: center;
}

@media (min-width: 576px) {
  .register-page__content {
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  .register-page__content {
    max-width: 350px;
  }
}
