.os-goal-list {
  &__live {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  &__error {
    padding: var(--os-padding-md);
    border: 1px solid var(--os-color-danger);
    border-radius: var(--os-border-radius-md);
    background-color: var(--os-color-danger-light);
    color: var(--os-color-danger-dark);
    margin-bottom: var(--os-gap-md);
  }
}


